@use "@/styles/base/media.module" as mediaModule;

.save-later-checkBox {
  display: flex;
  margin-top: 45px;
  padding: 0 0 0 8px;
  align-content: center;
  @include mediaModule.respond(xs) {
    margin-top: 30px;
  }

  label {
    padding-left: 6px;
  }
}
