.subject-label {
  display: block;
  font-size: 0.85em;
  background-color: #3b82f6;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 0.8em;
  width: fit-content;
  color: white;
  padding: 2px 6px;
  border-radius: 5px;

}
.subject-label_1 { background: #f59e42; color: #fff; }
.subject-label_2 { background: #3b82f6; color: #fff; }
.subject-label_3 { background: #10b981; color: #fff; }
.subject-label_4 { background: #f43f5e; color: #fff; }
.subject-label_5 { background: #6366f1; color: #fff; }