@use "@/styles/base/media.module" as mediaModule;
@use "@/styles/components/subjectLabel.module.scss" as subjectLabel;

.questions {
  font-size: 1rem;
  margin-top: 40px;
  display: block;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 0 12px;
  @include mediaModule.respond(xs) {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  &__header {
    display: block;
    text-align: right;
  }
  &__number {
    display: inline-block;
    margin-right: 20px;
  }
  ol {
    padding: 0;
  }

  &__question {
    font-size: 1rem;
    display: block;
    font-weight: 400;

    &-wrapper {
      position: relative;
      height: 100%;
      gap: 10px;
      border: 2px solid #e5e5e5;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

      border-radius: 12px;
      // display: flex;
      transition: all 0.2s;
      margin-top: 20px;
      align-items: center;
      display: flex;
      a {
        padding: 7px 12px 8px;
        height: 100%;
        width: 100%;
        color: black;
        text-decoration: unset;
      }
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
  }

  &__subject {
    @extend .subject-label;
  }
  &__subject_1 { @extend .subject-label_1; }
  &__subject_2 { @extend .subject-label_2; }
  &__subject_3 { @extend .subject-label_3; }
  &__subject_4 { @extend .subject-label_4; }
  &__subject_5 { @extend .subject-label_5; }
}
