@use "@/styles/base/media.module" as mediaModule;
@use "@/styles/components/subjectLabel.module.scss" as subjectLabel;

.question {
  font-size: 1rem;
  margin-top: 40px;
  display: block;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 0 12px;
  background: #ffffff;

  @include mediaModule.respond(xs) {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  &__period {
    padding: 15px 0 5px;
  }

  &__header {
    display: block;
    text-align: right;
  }
  &__number {
    display: inline-block;
    margin-right: 20px;
  }

  &__subject {
    display: block;
  }

  &__text {
    display: block;
    margin-top: 20px;
  }

  &__choices {
    padding: 0;
    margin-top: 20px;
  }

  &__choice {
    font-size: 1rem;
    display: block;
    font-weight: 400;

    &-wrapper {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
      position: relative;
      height: 100%;
      gap: 10px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
      border-radius: 12px;
      // display: flex;
      transition: all 0.2s;
      padding: 0 10px;
      margin-top: 25px;
      align-items: center;
      display: flex;
      &:hover {
        border: 2px solid #999999;
      }
      &:has(input:checked) {
        background-color: #ecf0ff;
        border: 2px solid #7491ff;
      }
      &-correct {
        background-color: #bdfccc !important;
        border: 2px solid #56e773 !important;
      }
      &-incorrect {
        background-color: #ffd4d4 !important;
        border: 2px solid #ff7171 !important;
      }
      &-done {
        border: 2px solid #6a6a6a;
      }
      @include mediaModule.respond(xs) {
        margin-top: 20px;
      }
    }

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    &__checkbox {
      width: 20px;
      height: 20px;
    }
    label {
      flex: 4.7;
      display: flex;
      align-items: center;
      gap: 10px;
      height: 100%;
      padding: 16px 0;
      cursor: pointer;
    }
    @include mediaModule.respond(xs) {
      cursor: unset;
    }

    &--hidden {
      text-decoration: line-through;
    }
    &--answered {
      text-decoration: unset;
      .question__choice-wrapper {
        pointer-events: none;
      }

      .question__eyeIcon {
        opacity: 0.1;
        pointer-events: none;
      }

      &:hover {
        border: unset;
      }
    }
  }
  &__commentary {
    position: relative;
    display: flex;
    margin-top: 7px;
    padding: 0 8px;
    align-items: center;
    font-size: 0.95rem;
    gap: 5px;
    width: 100%;
  }
  &__commentary_icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 6%;
    @include mediaModule.respond(xs) {
      width: 8%;
    }
    img {
      width: 100%;
    }
  }
  &__commentary_text {
    font-size: 0.95rem;
    width: 89%;
    ul {
      padding: 0 5px;
    }
    li {
      padding: 3px 0;
      list-style: none;
    }
  }
  &__eyeIcon {
    flex: 0.3;
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
    min-width: 25px;
    img {
      object-fit: contain;
      width: 100%;
      width: 25px;
      height: 25px;
    }
  }

  &__answerButton {
    border-radius: 50px;
    max-width: 320px;
    background-color: #2563eb;
    width: 100%;
    border: unset;
    color: white;
    padding: 12px 0;
    margin: 50px auto 100px;
    display: block;
    cursor: pointer;
    font-size: 1.15rem;
  }

  &__nextButton {
    border-radius: 50px;
    max-width: 320px;
    background-color: rgb(71, 207, 115);
    width: 100%;
    border: unset;
    padding: 12px 0;
    margin: 50px auto 100px;
    display: block;
    cursor: pointer;
    font-size: 1.15rem;
    text-align: center;
    color: black;
    text-decoration: none;
  }

  &__lottieOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
  }
  &__subject {
    margin-left: auto;
    @extend .subject-label;
  }
  &__subject_1 {
    @extend .subject-label_1;
  }
  &__subject_2 {
    @extend .subject-label_2;
  }
  &__subject_3 {
    @extend .subject-label_3;
  }
  &__subject_4 {
    @extend .subject-label_4;
  }
  &__subject_5 {
    @extend .subject-label_5;
  }
}
